body {
  /* background-color: lightblue; */
  background-color: #8bcbff;
}

h1 {
  color: black;
  text-align: center;
  background-image: url("images/php.png");

  background-repeat: no-repeat;
  background-size: 60px 60px;
  background-position: 3px ;

  
}

p {
  font-family: verdana;
  font-size: 20px;
  color: rgb(124, 124, 124);
  background-color: rgb(227, 248, 255);
  padding: 10px;
  margin: 5px;
  border: 1px solid black;
  
}
.red {
  background-color: crimson;
  color: white;
  font-size: larger;
}

.green {
  background-color: rgb(158, 253, 103);
  color: white;
  font-size: larger;
}


.container {
  width:960px;
  margin-left:auto;
  margin-right:auto;
}

.articles {
  border-radius: 25px;
  
  background-color: rgb(252, 255, 206);
  padding: 10px 0px 10px 0px;

  border-top: 5px darkgray solid;
}

.form-group {
  margin: 0 auto; 
  padding: 10px;
  width:400px;
  border-radius: 25px;
  background-color: rgb(255, 234, 208);
  border: 2px doted gray;

  border-top: 5px darkgray solid; 
  
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  
  border: 3px solid rgb(114, 114, 114); 
}

label {
  font-weight: bold;
  color: rgb(94, 94, 94);
  
}

input, select {
  margin-top: 10px;
}
button {
  margin: 0 auto;
}

#Nadpis_headline {
  background-color: white;
  padding: 5px 10px 5px 10px;
  border: 1px ;
  border-style: dotted;
  border-color: dimgrey;
  margin-bottom: 50px;
 
  
}
